.innerSlide{
    display: flex;
    justify-content: space-around;
}
.each-slide{
    background-color: white;
    padding: 20px;
    margin: 0px 20px;
}
.slideHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    font-size: 21px;
    margin: 10px 0px;
}
.slideHeader div{
    font-weight: 500;
}
.slideHeader a{
    font-size: 18px;
}